/* assets/css/dark-mode.css */
body.dark-mode {
    --bs-body-bg: #121212;
    --bs-body-color: #e1e1e1;
    --bs-light: #1f1f1f;
    --bs-dark-bg: #121212;
    --bs-light-text: #e1e1e1;
    --bs-primary: #bb86fc; /* Example for dark mode primary color */
    /* Add other dark mode specific styles here */
  }
  
  /* Override specific components if necessary */
  .navbar-dark-mode {
    background-color: var(--bs-dark-bg);
    color: var(--bs-light-text);
  }  